.ColorBox {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: -3.5px;
    
}

.copy-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    opacity: 0;
    cursor: pointer;
}

.ColorBox:hover .copy-button {
    opacity: 1;
    transition: 0.4s;
}

.box-content {
    position: absolute;
    padding: 10px;
    width: 100%;
    bottom: 0;
    color: black;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.see-more {
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    border: none;
    right: 0;
    bottom: 0;
    color: white;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}